<div id="card" class="card col-3 mx-auto" style="width: 18rem;">
  <img src="{{item.img}}" class="card-img-top" alt="Item Image">
  <div class="card-body">
    <h5 class="card-title"  STYLE="text-transform:capitalize">{{item.name}}</h5>
    <p class="card-text">
         <ul>
      
      <li>{{item.desc}}</li>
      <li>Price: ${{item.price}}</li>
    </ul>
    </p>
  </div>
  <br>
  </div>