<link href="{{url_for('static',filename='css/shopcat.css')}}" rel="stylesheet">

<ul class="nav justify-content-center">
    <li>_</li>
  <li class="nav-item">
    <a class="nav-item nav-link text-white" href="{{url_for('api.view_shop')}}">All Items</a>
  </li>
  <li>_</li>
  <li class="nav-item">
    <a class="nav-item nav-link text-white" href="{{url_for('api.shop_clothes')}}">Clothes</a>
  </li>
    <li>_</li>
  <li class="nav-item">
    <a class="nav-item nav-link text-white" href="{{url_for('api.shop_valuables')}}">Valuables</a>
  </li>
  <li>_</li>
  <li class="nav-item">
    <a class="nav-item nav-link text-white" href="{{url_for('api.shop_accessories')}}">Accessories</a>
  </li>
  <li class="nav-item">_</li>
</ul>